<div class="wrapper" style="display:block; margin:auto; width:40%;">
<%= link_to "home", root_path %>
<%= link_to "my group", mygroup_path %>
<%= link_to "my self", myself_path %>
<%= link_to "about", about_path %>
<%= link_to "contact", contact_path %></br>
--------------------------------------
<h1>ABOUT</h1>
<p>You will find here all the information about the about.</br>
Here: <%= link_to "MYSELF", myself_path %> 
& <%= link_to "MY GROUP", mygroup_path %>
</p>
