<div class="wrapper" style="display:block; margin:auto; width:40%;">
<%= link_to "home", root_path %>
<%= link_to "my group", mygroup_path %>
<%= link_to "my self", myself_path %>
<%= link_to "about", about_path %>
<%= link_to "contact", contact_path %></br>
--------------------------------------
<h1>MYSELF</h1>
<p>There is me, myself and I. We try to communicate all together, but it's hard.</p>